/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #1a0033, #050510);
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* GLOW EFFECT */
.glow {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.6);
}

/* BUTTON */
.btn {
  background: linear-gradient(45deg, gold, #ffcc00);
  color: black;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px gold;
}

/* SECTION */
.section {
  padding: 60px 20px;
  text-align: center;
}

body::before {
  content: "";
  position: fixed;
  width: 300px;
  height: 300px;
  background: purple;
  filter: blur(120px);
  top: 20%;
  left: 10%;
  animation: float 6s infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(100px);
  }
}